<div class="col-md-3 order-md-2 area_list">
    <section class="panel">
        <header class="panel-heading">
            地区
        </header>
        <div class="slimScrollDiv">
            <div class="panel-body" id="noti-box">
                <ul>
                    <% areas.data.forEach(function(item, index){ %>
                    <li><a href="/move/area?area=<%= item['area'] %>"><%= item['area'] %></a></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </section>
</div>