<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>晨讯网-<%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/css/dataTables.bootstrap.min.css">
    <link href='/css/style.css' rel='stylesheet'/>
    <link href="/css/noty.css" rel="stylesheet">
</head>

<body class="page_resource">
<!-- Fixed navbar -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<nav class="navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    晨讯网
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li <% if(active == "/") { %>class="active"<% } %>><a href="/">首页</a></li>
                    <li <% if(active == "1"){ %> class="active"<% } %>><a  href="/move?category_id=1">电影</a></li>
                    <li <% if(active == "2"){ %> class="active"<% } %>><a href="/move?category_id=2">电视剧</a></li>
                    <li <% if(active == "3"){ %> class="active"<% } %>><a href="/move?category_id=3">综艺</a></li>
                    <li <% if(active == "4"){ %> class="active"<% } %>><a href="/move?category_id=4">娱乐</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form action="/move/search" method="get" class="navbar-form navbar-left">
                            <div class="form-group">
                                <input name="keyword" id="keyword" class="form-control" type="text" size="40" placeholder="Search..."/>
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<% include ../login.ejs %>