<!-- 最新电视剧-->
<div class="col-md-3 order-md-2 area_list">
    <section class="panel">
        <header class="panel-heading">
            最新电视剧
        </header>
        <div class="slimScrollDiv">
            <div class="panel-body" id="noti-box">
                <ul>
                    <% if (newSets.data.length>0) {
                        newSets.data.forEach(function(item, index){
                    %>
                    <li style="clear: both;">
                        <%=index+1%> &nbsp;<a href="/move/detail?move_id=<%= item['id'] %>"><%= item['name'] %></a>
                    </li>
                    <%
                        })
                        } else {
                    %>
                    <li>今天暂无更新</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </section>
</div>