
<style>
    .content-wrapper {
        padding-top: 0;
    }
    #banner {
        background: #EAEAEA;
        pading-top: 52px;
        background-image: url('/images/banner.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 608px;
        background-position: center;
    }
    #des {
        width: 800px;
        margin: 0 auto;
        text-align: center;
        margin-top: 50px;
        font-size: 16px;
        line-height: 1.6;
    }
</style>

<div id="banner"></div>
<div class="container">
    <p id="des">电影.</p>
    <ul>
    <% moves.forEach(function(item, index){ %>
    <li style="float:left">
        <div class="pic"><a href="/play/bdhd/16865.html" target="_blank"><img src="<%= item['cover'] %>" border="0" width="120" height="140" title="<%= item['name'] %>"></a></div>
        <p style="margin:2px auto"> <b><a href="/play/bdhd/16865.html" class="title" target="_blank" title="<%= item['name'] %>"><%= item['name'] %></a></b></p>
    <% }) %>
    </ul>
</div>
<!-- /.container -->