
body {
    padding-top: 54px;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-right: 0 !important;
    position: relative;
    background: #f6f8f9;
}

a {
    color: #00B7FF;
    cursor: pointer;
}
.content-wrapper {
    padding-top: 0;
}
#banner {
    background: #EAEAEA;
    pading-top: 52px;
    background-image: url('/images/banner.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 540px;
    background-position: center;
}
#des {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.6;
}
#head_box {
    width: 100%;
    background: #0f0f0f url(/images/head_box_bg.png) no-repeat center;
    z-index: 1;
    background-size: 100% 100%;
}
.bs-docs-footer {
    text-align: left;
}
.bs-docs-footer {
    position: absolute;
    bottom: -24px;
    padding: 30px 0;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    width: 100%;
    margin-top: 50px;
}

/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-logo a,
.register-logo a {
    color: #444;
}

.login-page,
.register-page {
    background: #d2d6de;
}

.login-box,
.register-box {

}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color: #777;
}

.login-box-msg,
.register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.social-auth-links {
    margin: 10px 0;
}

.container_box {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #fff;
}

.container_box.cell_layout .col_side {
}

.container_box.cell_layout .col_side {
}

.container_box.cell_layout .col_side, .container_box.cell_layout .col_main {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
}

.page_resource .menu_box_primary {
    margin-bottom: 100px;
}

.menu_box_primary {
    width: 100%;
}

.inner.wrp {
    margin-left: auto;
    margin-right: auto;
}

.wrp_tab {
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #e6e7ec;
}

.tab {
    line-height: 40px;
    margin: 0 auto;
}

.tab_navs {
    height: 46px;
    line-height: 45px;
}

.tab_nav {
    float: left;
}

.tab_nav.selected a {
    color: #3eb74f;
    border-bottom: 2px solid #3eb74f;
}

.tab_nav:first-child a {
    padding-left: 0;
    border-left: none;
}

.menu_box_primary {
    width: 100%
}

dt.menu_title_primary, #resMenu > dt.sub_menu_title_primary {
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

.menu_primary dt .icon_menu_switch {
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: dashed;
    border-color: transparent;
    border-top-width: 0;
    border-bottom-color: #babec4;
    border-bottom-style: solid;
    position: absolute;
    right: 10px;
    top: 20px
}

.menu_primary dt .icon_menu_dot {
    font-weight: 400;
    font-style: normal;
    margin-right: 5px;
    color: #ccc
}

.menu_primary dt.closed .icon_menu_switch {
    border-top: 5px solid #babec4;
    border-bottom-width: 0
}

.menu_title_primary {
    line-height: 40px;
    height: 40px;
    padding: 0 0 0 32px;
    position: relative;
    border-bottom: 1px solid #e6e6e6
}

.menu_link_primary {
    display: block;
    *height: 1%;
    line-height: 40px;
    text-decoration: none;
    color: #222;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.sub_menu_title_primary .menu_link_primary {
    padding-left: 55px;
    padding-right: 30px
}

.sub_menu_desc_primary .menu_link_primary {
    padding-left: 60px;
    padding-right: 30px
}

.menu_link_primary:hover {
    text-decoration: none;
    background-color: #f4f5f9
}

.menu_link_primary.no_sub:hover {
    background-color: #f4f5f9;
    color: #222
}

.menu_link_primary.no_sub.selected {
    background-color: #3eb94e;
    color: #fff
}

body.page_resource {
    overflow-y: scroll
}

.col_side {
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
}

.col_main {
}

.page_resource .article_box .inner {
    padding: 20px 45px
}

.page_resource .menu_box_primary {
    margin-bottom: 100px
}

.page_resource .res_iframe {
    border: 0;
    width: 100%;
    height: 770px
}

.page_resource .container_box.page_pr_img {
    border: 0
}

.page_resource .container_box.append_devcode {
    position: relative
}

.page_resource .container_box.append_devcode .developer_code {
    position: absolute;
    left: 1000px;
    top: -1px;
    border: 1px solid #e6e7ec;
    border-width: 1px 1px 1px 0;
    text-align: center
}

.page_resource .container_box.append_devcode .developer_code .inner {
    padding: 7px 12px 10px 12px
}

.page_resource .container_box.append_devcode .developer_code .pic_devcode {
    width: 105px;
    height: 105px
}

.page_resource .container_box.append_devcode .developer_code p {
    color: #8d8d8d;
    margin-top: -5px
}

.sub_menu_title_primary .menu_link_primary {
    padding-left: 32px
}

.sub_menu_title_primary i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    color: #d5d5d5;
    margin-top: -0.2em;
    margin-right: .5em
}

.menu_active {
    background-color: #00B7FF;
    color: #fff;
}

.menu_active:hover {
    background-color: #00B7FF !important;
    color: #fff !important;
}

.menu_link_primary.no_sub:hover {
    background-color: #f4f5f9;
    color: #222;
}

.menu_link_primary.no_sub:hover {
    background-color: #f4f5f9;
    color: #222;
}

.menu_link_primary.no_sub:hover {
    background-color: #f4f5f9;
    color: #222;
}

.menu_link_primary:hover {
    text-decoration: none;
    background-color: #f4f5f9;
}

.sub_menu_desc_primary .menu_link_primary {
    padding-left: 60px;
    padding-right: 30px;
}

.menu_link_primary:hover {
    text-decoration: none;
    background-color: #f4f5f9;
}

.sub_menu_desc_primary .menu_link_primary {
    padding-left: 60px;
    padding-right: 30px;
}

.menu_link_primary:hover {
    text-decoration: none;
    background-color: #f4f5f9;
}

.sub_menu_desc_primary .menu_link_primary {
    padding-left: 60px;
    padding-right: 30px;
}

ul, ol {
    padding-left: 0;
    list-style-type: none;
}

.news_content table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
}

.news_content table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.news_content table th {
    font-weight: 700;
}

.news_content table td, .news_content table th {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.news_content table td, .news_content table th {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.col-xs-8,.col-xs-4 {
    padding-top: 10px;
}
.content-wrapper {
    padding-bottom: 100px;
    margin-top: 10px;
}
#dplayer,#video {
    width: 100%;
    height: 400px;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#user-name:hover {
    color: #333;
}
dd, dt {
    /*width: 230px;*/
}

#loginForm {
    margin-top: 100px;
}

.news_content ul li {
    list-style: circle;
}
.post h3 {
    color: #fcab2b;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 19px;
    overflow: hidden;
    line-height: 20px;
    height: 20px;
}
.span4 h3 {
    overflow: hidden;
    line-height: 25px;
    height: 25px;
    font-size: 18px;
    margin-top: 10px;
}
.span4 img {
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid #f6f8f9;
}
.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}
.thumbnail .caption h3 {
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}
.thumbnail .caption {
    padding:0px;
}
.thumbnail {
    height: 220px;
    margin-bottom: 5px;
}
.thumbnail a img {
    height: 180px;
}
.thumbnail .caption h3 a {
    font-size: 16px;
}
.col-md-2, .col-sm-3, .col-xs-4{
    padding-right: 6px;
    padding-left: 6px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.panel-body {
    padding: 5px;
}
.area_list ul li {
    float: left;
    padding: 9.5px;
}
@media screen and (max-width:768px) {
    .container, .col-md-9, .col-md-3 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .thumbnail a img {
        height: 150px;
    }
    .thumbnail {
        height: 190px;
        margin-bottom: 5px;
    }
    .no-container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-nav {
        margin: 7.5px 0px;
        margin-bottom: 0px;
    }
    .content-wrapper {

    }
    .navbar-nav li {
        float: left;
    }
    .nav-search {
        float: none;
    }
    .nav>li>a {
        padding: 10px 12px;
    }
    .nav-search li{
        float: none;
    }
    .nav-search{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .nav-search div {
        float: left;
        width: 70%;
        margin-right: 20px;
    }
    .nav-search button {
    }
    .navbar-form {
        margin-top:0px;
        padding:5px 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 2px;
    }
}
.navbar-header {
    width: 100%;
}
@media screen and (max-width:1024px) {
    .container {
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .content-wrapper {
        padding-bottom: 100px;
        margin-top: 64px;
    }
    .navbar-header {
        width: auto;
    }
}


#play_page ul li p{
    clear: both;
    text-align: left;
    font-weight: bold;
}
#play_page ul li {
    text-align: center;
}
#play_page ul {
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px #ddd solid;
    border-top: 0;
    padding: 5px;
}
#play_page ul li a:visited {
    font-size: 13px;
    color: #000000;
    text-decoration: none;
}
#play_page ul li a {
    display: block;
    float: left;
    padding: 2px;
    margin: 2px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    border: 1px solid #C9E0F8;
    background: #F7FBFF;
}
.hdtag {
    background: #09C878;
    padding: 0 5px;
    color: #FFF;
    font-size: 12px;
    right: 2px;
    bottom: 2px;
    position: absolute;
    border: none;
}
.hdtag2 {
    background: #09C878;
    padding: 0 5px;
    color: #FFF;
    font-size: 12px;
    right: 2px;
    bottom: 6px;
    position: absolute;
    border: none;
}
.sets_label {
    position:relative;
    display:block;
}
.detail-img {
    width: 100%;
}