<% include ../partials/header %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-1">
                <section class="panel">
                    <div class="panel-body table-responsive">
                        <div id="iqiyi_player">
                            <iframe src='http://open.iqiyi.com/developer/player_js/coopPlayerIndex.html?vid=<%= currentMoveUrls['url'] %>&tvId=386549000&accessToken=2.f22860a2479ad60d8da7697274de9346&appKey=3955c3425820435e86d0f4cdfe56f5e7&appId=1368&height=100%&width=100%'
                                    frameborder='0' width='100%' height='400' allowfullscreen='true'></iframe>
                                    <embed src="//player.video.iqiyi.com/3719dbea881141b9ac5762dd1e605ddf/0/0/v_19rrk2duk4.swf-albumId=Z2uVlJRslmdp-tvId=Z2uVlJRslmdp-isPurchase=0-cnId=undefined" allowFullScreen="true" quality="high" width="480" height="350" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                        </div>
                        <% include ../partials/play_list %>
                        <% include ../partials/relation_list %>
                    </div>
                </section>
            </div>
            <% include ../partials/most_views_list %>
            <% include ../partials/tags_list %>
            <% include ../partials/area_list %>
        </div>
    </div>
</div>
<% include ../partials/footer %>