<% include ../partials/header %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-1">
                <section class="panel">
                    <div class="panel-body table-responsive">
                        <h3><%=move['name']%>-<%=currentMoveUrls['player']%>-<%=currentMoveUrls['name']%></h3>
                        <div id="video">

                        </div>
                        <% include ../partials/play_list %>
                        <% include ../partials/relation_list %>
                    </div>
                </section>
            </div>
            <% include ../partials/most_views_list %>
            <% include ../partials/tags_list %>
            <% include ../partials/area_list %>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<script type="text/javascript" src="/player/ckplayer/ckplayer/ckplayer.js"></script>
<script type="text/javascript">
    var videoObject = {
        container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
        autoplay:true,
        flashplayer:false,//如果强制使用flashplayer则设置成true
        video:"<%= currentMoveUrls['url']  %>"//视频地址
    };
    var player = new ckplayer(videoObject);
</script>