<% include ../partials/header %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-1">
                <section class="panel">
                    <div class="panel-body table-responsive">
                        <div id="youku_player">
                            <iframe height="400" width="100%" src='http://player.youku.com/embed/<%= currentMoveUrls['url'] %>' frameborder=0 'allowfullscreen'></iframe>
                        </div>
                        <% include ../partials/move_detail %>
                        <% include ../partials/relation_list %>
                    </div>
                </section>
            </div>
            <% include ../partials/most_views_list %>
            <% include ../partials/tags_list %>
            <% include ../partials/area_list %>
        </div>
    </div>
</div>
<% include ../partials/footer %>
